body {
  margin-top: 0px;
  position: relative;
  font-family: Roboto, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
}


p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 16px;
}

.navbar {
  height: 60px;
  width: 1144px;
  color: red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 64px;
  box-sizing: border-box;
}

.navbar img {
  height: 35px;
  margin-left: 10px;
}

.navbar-button-right {
  color: white;
  font-size: 16px;
  border-radius: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: bold;
  background: rgba(250, 250, 250, 0.25);
  border: none;
  letter-spacing: 1.25px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size: 14px;
  padding-left: 0;
  font-weight: 500;
}

.menu li a {
  margin: 16px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.menu li a:hover{
  text-decoration: underline;
}

.front {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin-top: 50px;
}

.front-text {
  max-width: 480px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-top: 16px;
  margin-bottom: 26px;
}

.div-col-left {
  width: 50%;
  box-sizing: border-box;
  padding: 0 16px 0 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.div-col-right {
  width: 50%;
  box-sizing: border-box;
  padding: 0 0 0 16px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

.phone-front {
  height: 628px;
  transform: translate(32px, -32px);
  margin-top: -40px;
}

.front-tittle {
  font-weight: 600;
  font-size: 92px;
  margin: 0px;
  letter-spacing: -1px;
  line-height: 108px;
  font-family: "Anek Telugu", sans-serif;
}


.buttons-section{
  display: flex;
}


.button-container{
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  background: #0a2540;
  border: none;
  position: relative;
  transition: 0.3s;
}

.button-container a{
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
}

.button-container:hover {
  background-color: rgba(109, 122, 136, 0.822);
  cursor: pointer;

}

.button-container img{
  transition: 0.3s;
}

.button-container:hover img{
  transform: translateX(10px);
}


.button-hero-sales {
  color:  #7000ff;
  font-size: 16px;
  border-radius: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: bold;
  background: none;
  border: none;
  letter-spacing: 1.25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.button-hero-sales:hover{
  opacity: 0.75;
  cursor: pointer;
  transition: all 0.3s;
}

.button-hero-sales img{
  position: absolute;
  transition: 0.3s;
  right: -10px;
}

.button-hero-sales:hover img{
  right: -20px;
}

.button-container:hover img{
  right: -10px;
}

@media only screen and (max-width: 768px) {
  /* Reglas de estilo para móviles con ancho máximo de 767px */
  /* Por ejemplo: */
  body {
    font-size: 14px;
  }

  .front {
    width: 50%;
    margin-left: 0px;
  }

  .front-tittle {
    font-size: 48px; /* Modifica el tamaño del título según tus preferencias */
    width: 50%;
    margin-left: 0px;
  }
}

/* Estilos para tabletas y pantallas más grandes */
@media only screen and (max-width: 768px) {
  /* Reglas de estilo para tabletas y pantallas con ancho entre 768px y 1024px */
  /* Por ejemplo: */
  .navbar{
    display: none;
  }

  body {
    font-size: 16px;
  }
}

/* Estilos para pantallas de escritorio */
@media only screen and (min-width: 1025px) {
  /* Reglas de estilo para pantallas de escritorio con ancho mínimo de 1025px */
  /* Por ejemplo: */
  body {
    font-size: 18px;
  }
}

.canvas {
  width: 200%;
  height: 970px;
  transform: rotate(-10deg);
  position: absolute;
  top: -600px;
  left: -50%;
  z-index: -1;
  background: linear-gradient(-10deg, var(--gradient-color-1), var(--gradient-color-2), var(--gradient-color-3), var(--gradient-color-4));
  --gradient-color-1: #ef008f;
  --gradient-color-2: #6ec3f4;
  --gradient-color-3: #7038ff;
  --gradient-color-4: #ffba27;
}

.brands-grid{
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 15px;
  row-gap: 32px;
  margin-top: 64px;
  margin-bottom: 64px;
}

.brands-grid img{
  height: 60px;
  width: 200px;
  place-self: center;
}

.seccion2{
  display: flex;
  width: 100%;
  background-color: #f7f9fc;
  justify-content: center;
  align-items: center;
  padding: 64px;
}

.tittle-tiny{
  color: #6f00ff93;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  margin-bottom: 16px;
} 

.tittle-big{
  width: 571px;
  font-weight: 600;
  font-size: 40px;
  margin: 0px;
  letter-spacing: -1px;
  font-family: "Anek Telugu", sans-serif;
  
}


.front-II {
  display: flex;
  justify-content: center;
  max-width: 1144px;
}


.span{
  text-decoration: none;
  color: #6f00ff;
  transition: 0.25s ease;
}

.span:hover {
  color: #0a2540;;
}

.button-container-sec2{
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  background: #6f00ff;
  border: none;
  position: relative;
  transition: 0.3s;
}

.button-container-sec2 a{
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
}

.button-container-sec2:hover {
  background-color: #0a2540;
  cursor: pointer;

}

.button-container-sec2 img{
  transition: 0.3s;
}

.button-container-sec2:hover img{
  transform: translateX(10px);
}

.seccion-graphics{
  width: 100%;
  display: flex ;
  justify-content: center;
  background-color: #f7f9fc;  
}

.seccion-container{
  width: 100%;
  max-width: 1144px;
}

.seccion-grid {
  display: grid;
  grid-template-areas:
      "card slack slack"
      "phone slack slack"
      "phone dash dash";
  grid-gap: 32px;
  padding: 32px;
}

#credit-card {
  grid-area: card;
  width: 100%;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}


#slack-invoice {
    grid-area: slack;
    width: 100%;
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

#phone {
    grid-area: phone;
    width: 100%;
}


#dash {
  grid-area: dash;
  width: 100%;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.integration-seccion {
  color: #f7f9fc;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding: calc(64px * 3) 0;
  z-index: 1;
}

.integration-seccion::before {
  content: '';
  width: 100%;
  height: 1100px;
  background-color: #0a2540;
  position: absolute;
  top: -32px;
  left: 0;
  z-index: -1;
  transform: skewY(-10deg);
}

.integration-seccion::after {
  content: '';
  background-color: #fff;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.subtitulo-2 {
  color: #00d4ff;
}


.button-container-sec3{
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding-top: 12px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  background: #00d4ff;
  border: none;
  position: relative;
  transition: 0.3s;
}

.button-container-sec3 a{
  text-decoration: none;
  color: #0a2540;
  padding-bottom: 5px;
}

.button-container-sec3:hover {
  background-color: #ffffff;
  cursor: pointer;

}

.button-container-sec3 img{
  transition: 0.25s;

}

.button-container-sec3:hover img{
  transform: translateX(10px);
}

.front-III{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1140px;
}


.front-tittle2 {
  font-weight: 600;
  font-size: 40px;
  margin: 0px;
  width: 100%;
  font-family: "Anek Telugu", sans-serif;
}

#api-code{
  max-width: 470px;
  margin: 0 0 16px 0;
  border-radius: 20px;
}

#terminal-code{
  max-width: 470px;
  border-radius: 20px;
}

.div-col-right1{
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 16px
}

.card-container {
  display: flex;
  margin: 32px 0;
}

  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px 16px 16px 0;
}


.button-test {
  color:  #00d4ff;
  font-size: 16px;
  border-radius: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  font-weight: bold;
  background: none;
  border: none;
  letter-spacing: 1.25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.button-test:hover{
  opacity: 0.75;
  cursor: pointer;
  transition: all 0.3s;
}

.button-test img{
  position: absolute;
  transition: 0.3s;
  right: -10px;
}

.button-test:hover img{
  right: -20px;
}

.button-test:hover img{
  right: -10px;
}

.secondary-text{
  font-size: 14px;
  line-height: 18px;
  color: #7c7c7c;
  letter-spacing: 0.25px;
}

.why-swipe {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 192px 0px 192px 0px;
}

.seccion-container {
  width: 100%;
  max-width: 1144px;
}

.subtitulo{
  color: #6962f7;;
  font-family: "Anek Telugu", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
}

.card h3 {
  font-family: "Anek Telugu", sans-serif ;
  font-weight: 500;
  font-size: 22px;
  margin:0;
  width: 100%;
}


.why-swipe .card-container .card {
  width: 25%;
  padding: 0 8px 0 0;
  margin: 0 8px 0 0;
  box-sizing: border-box;
}

.card .icon {
  height: 50px;
  margin: 0 0 8px 0;
}



#globe {
  max-width: 844px;
  opacity: 25%;
  position: absolute;
  top: 10%;
  
}

.globe-seccion{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    position: relative;
    padding: 192px 0 0 0;
    height: 666px;
}


.globe-seccion::before {
  content: "";
  width: 100%;
  height: 1200px;
  background-color: #0a2540;
  position: absolute;
  top: -32px;
  left: 0;
  transform: skewY(-10deg);
  z-index: -1;
}


.globe-seccion .card-container {
  display: flex;
  margin: 128px 70px;
}

.globe-seccion .card-container .card h3 {
  border-left: 2px solid #00d4ff;
  padding: 0 0 0 8px;
  line-height: 28px;
}

.globe-seccion .card-container .card {
  width: 25%;
  box-sizing: border-box;
  padding: 0 8px 0 0;
  margin: 0 8px 0 0;
}



.front-IV{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin-left: 70px;
}



.globe-seccion p{
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    margin: 16px 0;

}

.globe-seccion a{
    text-decoration: none;
    color: #00d4ff;;
    font-weight: 500;
    transition: color 0.25s ease;

}